/* font-family: 'Raleway', sans-serif;
font-family: 'Urbanist', sans-serif;
font-family: 'Work Sans', sans-serif; */
*{
    /* effectively removing any default spacing between
     elements */
    margin: 0;
    padding: 0;
    /* 
    allows you to specify element dimensions more intuitively, 
    especially when using percentages for width and height
     */
     /* 
     affects how the 
     width and height of an element are calculated,
      */
    box-sizing: border-box;
}
a {
    color: white;
}

ul {
    list-style: none;
}
/* Heroooooooooooooooooooooooo */
h1,h2,h3,h4,h5,h6{
    font-family: "Oswald, sans-serif";

}
.hero{
    background:gray;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/hero.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    min-height: 100vh;
 }

 .hero h1, .hero h3{
    font-size: 28px;
    text-shadow: 2px 2px #000;
    margin-bottom: 40px;
 }

.hero h1{
    font-size: 60px;
    margin-bottom: 15px;

}
.hero a.btn{
    color: white;
    background-color: #131633;
    text-decoration: none;
    padding: 20px 46px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    border: 2px solid white;
}

.hero a.btn:hover{
    background-color: #2196f3;

}
@media  (max-width: 800px) {
   .hero{
    min-height: 600px;
   }
    .hero h1{
        font-size: 36px;
    
    }

    .hero h3{
        font-size: 18px;
    
    }
    .hero a.btn{
   
        padding: 15px 40px;
    }
}
/* ********************** */
#about .title{
    color: #131633;
    text-transform: capitalize;
    font-size: 32px;
    margin-bottom: 35px;
    text-align: center;
}

#about{
    padding: 10px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
}
#zcols{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-img{
    border: 4px solid #2196f3;
    background-color: #2196f3;
}
.about-bio{
    width: 65%;
    max-width: 800px;
    line-height: 2;
    margin-left: 20px;

    
}
@media screen and (max-width: 600px) {
    #about,#zcols{
      flex-direction: column;
    }
    .about-bio{
        margin-top: 20px;
        line-height: 1.5;
        text-align: left;
    }
}

/* Foooooooooooooooooooooooter */
footer {
    background-color: #131622;
    color           : white;
    text-align      : center;
    /* create a linear gradient background for an element.It
     creates a smooth transition between two or more colors
     */
    background      : linear-gradient(to bottom, #284e7a, #000 100%);
    padding         : 60px 0;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

footer p{
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}
footer ul{
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
footer ul li{
    margin:0 8px;
    
}
footer ul li a{
   font-size: 36px;
   cursor: pointer;
    
}
/* CSS rules for screens with a width of 768px or less go here */
@media screen and (max-width: 768px) {
    footer{
        padding: 80px 15px;
    }

}